@font-face{ 
	font-family: 'Roboto-Regular';
	src: url('../LMS_Mgmt/WebRoot/css/fonts/Roboto-Regular.eot');
	src: url('../LMS_Mgmt/WebRoot/css/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	     url('../LMS_Mgmt/WebRoot/css/fonts/Roboto-Regular.woff') format('woff'),
	     url('../LMS_Mgmt/WebRoot/css/fonts/Roboto-Regular.ttf') format('truetype'),
	     url('../LMS_Mgmt/WebRoot/css/fonts/Roboto-Regular.svg#webfont') format('svg');
	     font-weight: normal;
 		 font-style: normal;
}
@font-face{ 
	font-family: 'Roboto-Medium';
	src: url('../LMS_Mgmt/WebRoot/css/fonts/Roboto-Medium.eot');
	src: url('../LMS_Mgmt/WebRoot/css/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
	     url('../LMS_Mgmt/WebRoot/css/fonts/Roboto-Medium.woff') format('woff'),
	     url('../LMS_Mgmt/WebRoot/css/fonts/Roboto-Medium.ttf') format('truetype'),
	     url('../LMS_Mgmt/WebRoot/css/fonts/Roboto-Medium.svg#webfont') format('svg');
	     font-weight: normal;
 		 font-style: normal;
}
@font-face{ 
	font-family: 'Roboto-Thin';
	src: url('../LMS_Mgmt/WebRoot/css/fonts/Roboto-Thin.eot');
	src: url('../LMS_Mgmt/WebRoot/css/fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
	     url('../LMS_Mgmt/WebRoot/css/fonts/Roboto-Thin.woff') format('woff'),
	     url('../LMS_Mgmt/WebRoot/css/fonts/Roboto-Thin.ttf') format('truetype'),
	     url('../LMS_Mgmt/WebRoot/css/fonts/Roboto-Thin.svg#webfont') format('svg');
	     font-weight: normal;
 		 font-style: normal;
}



/*************Start header side***********************/
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
   /* background-image: url(../images-UI/draw-ui-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
}
header {
    background-color: #153a60;
    min-height: 60px;
    position: relative;
    padding: 0px 15px;
}
.logo {
    margin-left: 0px;
    /* margin-top: 7px; */
    float: left;
    width: 170px;
}
nav {
    float: left;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    float: left;
    list-style: none;
    border-left: 1px solid #385778;
}
nav li:last-child {
    border-right: 1px solid #385778;
}
nav li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 19px 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
nav li a:hover {
    color: #febe01;
    border-bottom: 2px solid #febf02;
    padding: 19px 30px 17px 30px;
}
.head-right-side {
    float: right;
}
.my-profile {
    float: left;
/*    border-right: 1px solid #385778;*/
    position: relative;
}


.user-name-info span:after {
    content: ;
    background-image: url(../images-UI/drop-arrow.png);
    background-repeat: no-repeat;
    width: 8px;
    height: 6px;
    position: absolute;
    right: 15px;
    top: 28px;
}
.message-tab {
    float: left;
  /*  border-right: 1px solid #385778;*/
    position: relative;
}
.message-tab a {
    padding: 20px 17px;
    display: block;
}
.new-tab {
    float: left;
   /* border-right: 1px solid #385778;*/
}
.new-tab a {
    padding: 20px 17px;
    display: block;
}
.logout {
    float: left;
  /*  border-right: 1px solid #385778;*/
}
.logout a {
    padding: 20px 17px;
    display: block;
}
.logout a:hover, .message-tab a:hover, .new-tab a:hover, .change-pass a:hover{background-color: #be3122;}
span.new-msg {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #be3122;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    width: 16px;
    height: 16px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    outline: 0;
}
.open-profile {
    position: absolute;
    z-index: 9;
    background-color: #0d5b90;
    padding: 0;
    width: 215px;
    right: -1px;
    box-shadow: -1px 2px 2px #1f1f1f;
    display: block;
}
.active {
    background-color: #0d5b90;
}
.user-profile {
    text-align: center;
    padding:10px 5px 5px 5px;
    border-bottom: 1px solid #4475a9;
}
.user-profile img {
    width: 40px;
    height: 40px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
}
.user-profile span {
    display: block;
    color: #fff;
    font-size: 14px;
}
.balance {
    text-align: right;
    padding: 10px 8px;
    border-bottom: 1px solid #4475a9;
}
.balance span {
    float: left;
    font-size: 14px;
    color: #fff;
}
.balance a {
    text-align: right;
    color: #fff;
    text-decoration: none;
    background-color: #0092c1;
    padding: 3px 20px;
    border-radius: 15px;
    font-size: 14px;
}
.balance a i{    font-size: 10px;
    margin-right: 2px;}
.edit-profile {
    text-align: center;
    border-bottom: 1px solid #4475a9;
    padding: 0;
}
.edit-profile a {
    display: block;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 0px;
}
.edit-profile a:hover{background-color: #be3122;}
.setting-logout {
    display: block;
    padding: 0px 0px;
    text-decoration: none;
}
.setting-logout a {
    float: left;
    text-align: center;
    border-right: 1px solid #5d85a0;
    padding: 8px 0px;
    text-decoration: none;
    width: calc(50% - 1px);
}
.setting-logout a:hover{background-color: #be3122;}
.setting-logout a img {
    max-width: 100%;
    margin: 0 auto;
}
.setting-logout a:last-child{border: 0;float: right;width: calc(50% - 0px);}
.setting-logout a span {
    display: block;
    font-size: 14px;
    color: #fff;
}
img.icon-skm {
	display: block;
}
img.icon-zim {
	display: none;
}


/*tab start*/
/*************end header side***********************/

/************menu******************/
#services{    float: left;
    width: 100%;}
nav{    margin: 0;
    padding: 0;}
.tabnew{float: left;
    list-style: none;
   /* border-left: 1px solid #385778;*/}
.tabnew a{color: #fff;
    text-decoration: none;
    display: block;
    padding: 19px 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22px;}
.tabnew a:hover{    color: #febe01;
   /* border-bottom: 2px solid #febf02;
    padding: 19px 13px 17px 13px;*/}
.tabnew.tabnewClick a{ color: #febe01;
    border-bottom: 2px solid #febf02;
  /*  padding: 19px 13px 17px 13px;*/}
    
    .change-pass {
    float: left;
   /* border-right: 1px solid #385778;*/
}


.change-pass a {
    padding: 20px 17px;
        display: block;
   
}
/**********logo css*****************/

#sikkimLogoImg{
    height: 40px;
    width: 185px;
    padding: 13px;
    float: right;
}

/***************************/
    
/************menu******************/
/***************balance*********************/
.balance-view{float: left;
    padding: 14px 10px;     position: relative;}
   
.balance-view .amount-bl{font-size: 16px;
    color: #fff;
    background-color: #0092C1;
    padding: 4px 10px 4px 19px;
    float: left;
    border-radius: 3px;}		
.balance-view .amount-bl i{font-size:12px;}
.click-bln{opacity: 0;
-webkit-transform:scale(1) scale3d(1, 1, 1) skew(0deg, 0deg) translate(95px, 0px);}
    -moz-transform: scale(1) scale3d(1, 1, 1) skew(0deg, 0deg) translate(95px, 0px);}
    -o-transform: scale(1) scale3d(1, 1, 1) skew(0deg, 0deg) translate(95px, 0px);}
    -ms-transform: scale(1) scale3d(1, 1, 1) skew(0deg, 0deg) translate(95px, 0px);}
    transform: scale(1) scale3d(1, 1, 1) skew(0deg, 0deg) translate(95px, 0px);}
	
/***************balance*********************/

/*******************12 july new changes**********************/
/***************header username*********************/
.user-icon {
    width: 30px;
    height: 30px;
    float: left;
}

/***************header username*********************/
