body{margin:0;padding:0;}
.screen-body {
    position: fixed;
	background-color:#12385e;
    background: url(PIE/login-bg.jpg) no-repeat center top;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*.screen-body:after{content: ' ';
    background-color: #12385e;
	opacity:0.98;
	filter: alpha(opacity=98);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;}*/
.login-box {
    width: 440px;
    background-color: rgba(21, 65, 109, 0.75);
    background-color: #143e68\9;
    position: relative;
    top: 50px;
    left: 50%;
    margin-left: -220px;
    border-radius: 3px;
    z-index: 1;
}
.logo-box {
    width: 100%;
    text-align: center;
    padding: 20px 0px;
   /* float: left;*/
}

.login-area {
    width: 100%;
  /*  float: left;*/
}

/***************login effect************************/


form.login-form {
  position: relative;
  padding: 40px;
}

.form-group {
  margin-bottom: 45px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.form-group .label-control {
  color: #9bb6cf;
  display: block;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  pointer-events: none;
  height: 100%; 
  height: 45px \9;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;  
  border-bottom: 2px solid #03A9F4 \9;
  z-index:20 \9;
}
.form-group .label-control:before,
.form-group .label-control:after{
  content: ' ';
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.form-group .label-control:before{
  border-bottom: 1px solid #7496b5;
  transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
}

.form-group .label-control:after {
  border-bottom: 2px solid #03A9F4;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.form-control {
    border: none;
    border-radius: 0;
    margin-top: 10px;
	margin-top: 18px \9;
    padding: 12px 0;
    width: 100%;
    font-size: 16px;
	line-height: 20px;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
	position:relative \9;
	z-index:30 \9;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}

.form-group .label-control .label-text{
   /* -webkit-transform: translate3d(0, 30px, 0) scale(1);
    -moz-transform: translate3d(0, 30px, 0) scale(1);
    transform: translate3d(0, 30px, 0) scale(1); */
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
}
.form-group .label-control + .form-control{border-bottom: 2px solid #03A9F4 \9;}
.active .label-control:after{
   -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.active .label-control .label-text {
    opacity: 1;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    color: #4bbfe3 !important;
}

.input-field label:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #B9C1CA;
  transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
}

.login-btn {
    text-align: center;
	position:relative;
	height:60px;
}
.login-btn input{
  background: #0093bf;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    outline: none;
    padding: 10px;
    text-transform: uppercase;
    transition: all 0.15s ease-in-out 0s;
    width: 190px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    border-radius: 30px;
    height: 45px;
    line-height: 26px;
	left:50%;
	margin-left:-95px;
	position:absolute;
	z-index:50;
	behavior: url(/LMSLinuxNew/css/PIE/PIE.htc);
}
.login-btn input:hover {
  background: #1bb520;

}
.login-btn input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color:transparent;
    background-image: none;
    color: #fff;
    -webkit-text-fill-color: #fff !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
color: #fff;
    -webkit-text-fill-color: #fff !important;
}


/****************************************/
.login-footer-area {
    position: relative;
	height:129px \9;
    bottom: 7px;
	left:0;
    width: 100%;
}
.login-footer-area:after{content:' '; clear:both; display:block;}
.powered-by {
    width: 100%;
    float: left;
    text-align: center;
}
.footer-logos {
    width: 100%;
    float: left;
}
.left-footer p{margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    color: #7295B5;}
.right-footer p, .reld{margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    color: #7295B5;
    padding: 0;}
.right-footer {
    float: right;
    text-align: right;
    padding-right: 10px;
	
}
.left-footer {
    float: left;
    text-align: left;
    padding-left: 10px;
	width:48%;
}
.powered-by span {
    display: inline-block;
    background-color: #143e68;
    position: relative;
    z-index: 1;
    padding: 0px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    color: #7295B5;
	bottom: -12px;
	background-color: #143e68 \9;
}
.powered-by:after{content: '';
    position: relative;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #3e6080;
    top: -10px;}
.lms-logo {
    height: 47px;
    padding-top: 10px;
}
.snd-logo {
    height: 57px;
}

.error-div {
       position: absolute;
    bottom: -20px;
        width: 100%;
}
.error-div span.error-span{color: #f0583a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;}
.error-div span.error-caps{color: #f0583a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;float: right;}
.form-group-list{position:relative;}

.full-err {
    position: absolute;
    bottom: -40px;
}
span.errorMessage {
    color: #f0583a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
}