.beforePageLoad{ position:fixed; width:100%; height:100%; z-index:9999999; background-color:#000000;}
nav li.last_Child{
    border-right: 1px solid #385778;
}
.setting-logout a.last_Child {
    border: 0;
    float: right;
    width: calc(50% - 0px);
}
table.table-prize tr th.last_Child  {
    text-align: right;
}
table.table-prize tr td.last_Child {
    text-align: right;
}
.game-name-tab button.last_Child{
    margin-right: 0;
}
.fortune-re.last_Child{
    border-right: 0;
}
table.table-prize-new thead tr th.last_Child, table.table-prize-new tbody tr td.last_Child{    padding: 5px 10px 5px 0px;
    text-align: right;}

.full-gridMidOuterTop ul li.last_Child{
	border-radius: 0px 6px 0px 0px;
}
.full-gridRightBlock ul li.last_Child{
	border-bottom:none;
}
 .full-predictRangeCon  li.last_Child, .full-predictCategoryCon li.last_Child{
	border-right: none;
}
.full-fourBlock.subPlay.last_Child{
	margin-right:0px;
}
.rightBottomSection > .fourBlock.last_Child{
	margin-right:0px;
}
.gridRightBlock ul li.last_Child{
	border-bottom:none;
}
.predictRangeCon  li.last_Child, .predictCategoryCon li.last_Child{
	border-right: none;
}
.fourBlock  li + li > span, .fourBlock  li + li + li +li > span, .full-fourBlock li + li > span, .full-fourBlock li + li + li + li > span{
	border-right:none;
}
.fourBlock  li + li + li > span,.fourBlock  li + li + li + li > span, .full-fourBlock  li + li + li > span, .full-fourBlock  li + li + li + li > span{
	border-bottom:none;
}
.fourBlock  li + li + li > span, .full-fourBlock  li + li + li > span{ border-right:2px solid #ffffff;}
.nu-input-area .radio-click input, .nu-input-area .radio-click input:focus, .nu-input-area .radio-click input:hover, .nu-input-area.active.nu-input-area .radio-click input{ border:none;}
.kenoresult ul li{ width:28px; height:28px; line-height:28px;}
.green-btn{ min-width:120px;}
.draw-name h5, .result-name h5, .bet-name h5{
    overflow: hidden;
    text-align: center;
    text-indent: -9999px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.draw-name h5:before{
	background: url(PIE/drawName.png) no-repeat left top;
    height: 43px;
}
.result-name h5:before {
	background: url(PIE/resultsName.png) no-repeat left top;
    height: 65px;
}
.bet-name h5:before{
	background: url(PIE/betTypeName.png) no-repeat left top;
    height: 70px;
}
.draw-name h5:before, .result-name h5:before, .bet-name h5:before{
	content:' ';
	position: absolute;
	width:12px;
    display: block;
    top: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    right: 0;
}
#numbertopicked .bet-name h5:before{
	background: url(PIE/noPickedName.png) no-repeat left top;
	width:24px;
    height: 67px;
}

.full-screen{
	background: url(PIE/black2PX.png) repeat left top;
	background-color:transparent;
}


span.or, .results-number ul li, .bet-tab button, .left-draw-ui h5, .draw-name, .no-of-draw input, .advance-draw a, .result-name, .bet-name, .draw, .results, .bettype, .quick-p-picked, .qp-pkd-no input, .prize h5, .list-prize, .prize h5, .purchase-detail h5, .buy-now, .ticket-view, .ln-reset button, .buy-now button, .select-amt button, .lnum-game, .ui-left-menu, .winning-button button, .setting-button button, .numbers-area, .sixby-game, .minirou-area, .full-minirou-area, .fortune-re, .reset-12 button, .reset button, .green-btn button, .reset-2 button, .sixby-reset button, .gridRightBlock, .predictCategoryCon, .gridLeftBlock, .fourBlock > ul, .full-gridRightBlock, .full-predictCategoryCon, .full-gridMidOuterTop ul li.last_Child, .full-gridLeftBlock, .minirou-results-number > ul > li, .full-fourBlock > ul, .button-cancel button, .button-submit button, .popup h5 button, .popup1 h5 button, .tmr, .ad-draw-check-box, .tkt-no-ct input, .dearch-filter input, input.ntpk{
	position:relative;
	z-index:50;
	behavior: url(/LMSLinuxNew/css/PIE/PIE.htc);
}
/*.popup, */
.systemMSG.popup, .systemMSG1.popup1, .down-menu{behavior: url(/LMSLinuxNew/css/PIE/PIE.htc); z-index:99999;}
.gridMidBlock .amtBlock, .gridRightBlock .amtBlock, .priceBlock, .full-gridRightBlock .full-amtBlock, .full-gridMidBottom  .full-amtBlock{behavior: url(/LMSLinuxNew/css/PIE/PIE.htc);}

.full-gridMidOuterTop ul li.firstRowRoullete{
    border-top: 2px solid #fff;
	border-left: 2px solid #fff;
    border-right: 2px solid #fff;
	border-bottom:none;
    border-radius: 6px 0 0 0;
	position:relative;
	z-index:50;
	behavior: url(/LMSLinuxNew/css/PIE/PIE.htc);
}

